.line-clamp-3 {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

main {
  margin-top: 100px;
}

h1:after {
  content: '';
  display: block;
  border: 1px solid #8b9abe;
}

#map {
  height: 300px;
}